* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poppins';
    size: .9rem;
    background-color: hsl(0, 0%, 98%);
    color: hwb(229 64% 32%);
    padding: 2rem
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    padding: 1rem;
}

h3,
h4 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;

}

#bio {
    text-align: center;
    margin-top: 1rem;
    font-size: .8rem;
}

#slogan {
    font-size: 1rem;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

.card {
    width: 100%;
    padding: 1rem 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: hsl(229, 6%, 66%);
    box-shadow: 0px 6px 18px hsl(228, 20%, 80%);
    border-radius: .4rem;

    >p {
        font-size: .8rem;
    }

    &--intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: hsl(0, 0%, 98%);
        margin-bottom: 2rem;
        padding: 1.5rem;
        box-shadow: none;
    }

    &--column {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        box-shadow: none;
        padding: 0;
        background-color: hsl(0, 0%, 98%);
    }

    &--icon {
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: 2rem;
        margin-left: 85%;
    }

}

$icons: ("supervisor": url("/tarea5_0523/four-card-feature-section-master/images/icon-supervisor.svg"),
    "teambuilder": url("/tarea5_0523/four-card-feature-section-master/images/icon-team-builder.svg"),
    "karma": url("/tarea5_0523/four-card-feature-section-master/images/icon-karma.svg"),
    "calculator": url("/tarea5_0523/four-card-feature-section-master/images/icon-calculator.svg"));

@each $title,
$url in $icons {
    .card--icon-#{$title} {
        background-image: $url;
    }
}

$borders: ("supervisor": hsl(180, 62%, 55%),
    "teambuilder": hsl(0, 78%, 62%),
    "karma": hsl(34, 97%, 64%),
    "calculator": hsl(212, 86%, 64%));

@each $name,
$color in $borders {
    .card--title-#{$name} {
        border-top: 3px solid $color;
    }
}



@media (min-width: 800px) {
    body {
        justify-content: center;
        height: 100vh;
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.6rem;
        width: 100%;
    }

    #bio {
        width: 40%;
    }

    #slogan {
        font-size: 2vw;
    }

}

@media (min-width: 1120px) {
    .container {
        width: 70%;
    }

    #slogan {
        font-size: 1.2rem;
    }
}