* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: hsl(226, 43%, 10%);
  color: #fffdef;
  height: 100%;
  padding: 5rem 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: hsl(235, 46%, 20%);
  border-radius: 1rem;
}

.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background: hsl(246, 80%, 60%);
  width: 70%;
  border-radius: 1rem;
  padding: 2rem;
  z-index: 2;
  width: 100%;
}

.user-info img {
  width: 4rem;
  border: 3px solid #fff;
  border-radius: 50%;
}

.legend {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
  color: hsl(236, 100%, 87%);
  opacity: 0.6;
}

.username {
  font-size: 1.5rem;
  font-weight: 300;
}

.frequency {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 1.6rem 2rem;
}

.frequency-text {
  width: 100%;
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.6rem;
}

.time-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.icon {
  width: 100%;
  padding-top: 5rem;
}

.icon img {
  width: 5rem;
  position: absolute;
  top: -10px;
  right: 1rem;
  object-fit: cover;
}

.time-results {
  background: hsl(235, 46%, 20%);
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1.7rem 1.6rem 2rem;
  margin-top: -2.5rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.time-results-top,
.time-results-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-results img {
  width: 1rem;
}

.time-accumulated {
  font-size: 2rem;
  font-weight: 300;
}

.area {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.more-info {
  font-size: 0.9rem;
  color: hsl(236, 100%, 87%);
  align-items: end;
}

#work-icon {
  background: hsl(15, 100%, 70%);
}

#play-icon {
  background: hsl(195, 74%, 62%);
}

#study-icon {
  background: hsl(348, 100%, 68%);
}

#exercise-icon {
  background: hsl(145, 58%, 55%);
}

#social-icon {
  background: hsl(264, 64%, 52%);
}

#selfcare-icon {
  background: hsl(43, 84%, 65%);
}

@media (min-width: 800px) {
  body {
    justify-content: center;
    height: 100vh;
  }

  .content {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    width: 100;
  }

  .user-wrapper {
    width: calc(100% / 3);
    height: 100%;
  }

  .user-info {
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    height: 100%;
  }

  .user-info img {
    width: 5rem;
    margin-bottom: 1.5rem;
  }

  .username {
    font-size: 2.5rem;
  }

  .frequency-text {
    flex-direction: column;
    gap: 1.2rem;
  }

  .app-wrapper {
    width: calc((100% / 3) * 2);
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .time-wrapper {
    width: calc(50% - 0.5rem);
  }
}

@media only screen and (min-width: 1040px) {
  .user-wrapper {
    width: calc(100% / 4);
  }
  .app-wrapper {
    width: calc((100% / 4) * 3);
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.6rem;
  }

  .time-wrapper {
    width: calc((100% / 3) - 1.7rem);
  }
  .time-results-top {
    margin-bottom: 1rem;
  }

  .time-results-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .time-accumulated {
    margin-bottom: 0.6rem;
    font-size: 3rem;
  }
}
